@import "tailwindcss";

@font-face {
  font-family: 'Fractul';
  src: url('./assets/Fractul/FractulAlt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fractul';
  src: url('./assets/Fractul/Fractul-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Fractul';
  src: url('./assets/Fractul/Fractul-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px black inset !important; 
  -webkit-text-fill-color: #f5deb3 !important;
  transition: background-color 5000s ease-in-out 0s; 
}

@keyframes slideIn {
  from {
    transform: translateX(-120%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-120%);
    opacity: 0;
  }
}